/*Main*/
body{
  background-color:#6abadeba; 
  max-width: 960px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 30px;
  line-height: 1.6;
}
p, h3, ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  background: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
li.fav{
  background: #00008B;
  color: white;
}

/*login form*/
.login{  
  width: 382px;  
  overflow: hidden;    
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #23463f;  
  border-radius: 15px ;  
          
}  
h2{  
  text-align: center;  
  color: #277582;  
  padding: 20px;  
}  
#Uname, #Pass{  
  color: #277582;  
  font-size: 17px;  
  display:block;
  width:fit-content;
  margin:auto;
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  
  position:relative; top:20px;
}  
#log{  
  text-align:center;
  display:block;
  width:fit-content;
  margin:auto;
  height: 30px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;  
  color: #277582;  
  cursor: pointer;
}  
#log:hover {
  background-color: #00008B;
}

/*Brython*/
#add-btn, #remove-btn, #pass-btn {
  cursor: pointer;
  display: inline-block;
  background: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
}

.button-container, #password-container {
  text-align: center;
}

#item-input {
  border: 1px #ccc solid;
  width: 300px;
  padding: 4px;
  height: 35px;
  margin-top: -20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -20px;
}

